Django==4.2.7
djangorestframework
django-cors-headers
django-celery-results
psycopg2-binary
requests
beautifulsoup4
lxml
celery
redis
fastapi
uvicorn
pydantic
python-dotenv
python-telegram-bot
aiohttp

gunicorn
whitenoise